<html>
<head>
	<title>Friends Screen</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- gives browser instructions on how to control page dimensions and scaling -->

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/newCSS.css" rel="stylesheet">
</head>
<body>
	  <div class="text-center">
	  	<div class="col">
      		<h1><i class="paddingThatArrow glyphicon glyphicon-arrow-left" onclick="history.back(-1)"></i>Sip</h1>
    	</div>
		<hr>

		<!-- beginning friend list -->
			<div class="friend-list">
					<div class = "friendContainer">
							<form id="addFriendForm" role="form" method="get" action="/add">
							<h2>Add a Friend</h2>
	    					<div class="form-group">
	      						<input type="text" class="form-control" id="name" placeholder="Name" name="name">
	      					</div>
	    					<input type="submit" id="submitBtn" class="btn btn-default" value="Add"></input>
	    					</form>

						{{#each users}}
						{{#if isUser}}

						{{else}}
						<div onclick="location.href= '/shared/{{name}}' ">
							<h3 class="friendBorder">
							{{name}} <img class="plantSize" style="padding: 20px;" src="/images/seed.png" ... />
							</h3>
						{{/if}}
						{{/each}}
						</div>
					</div>
			</div>




	  <nav class="borderingNav navbar navbar-default navbar-fixed-bottom" style="background: #D5DFB9">
      <div class = "row">
        
          <a href="/sip"><button type="button" class="thatPadding btn navbar-btn button1 col-md-6 col-sm-6 col-xs-6">Sip</button></a>
          <a href="/friends"><button type="button" class="thatPadding btn navbar-btn button1 col-md-6 col-sm-6 col-xs-6">Friends</button></a>
  </nav>


	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src= "js/bootstrap.js"></script>

</body>
</html>